<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @job.company %>
</p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Requirement:</b>
  <%= @job.requirement %>
</p>

<p>
  <b>Image url:</b>
  <%= @job.image_url %>
</p>

<p>
  <b>Headcount:</b>
  <%= @job.headcount %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
